@charset "UTF-8";

*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        img{
            width: 100vw;
        }
        a{
            display: block;
            background-color: rgba(255, 0, 0, 0.637);
            padding: 10px;
            color: white;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
        }
        a:hover{
            background-color: red;
        }